<!doctype html>
<html ng-app>
<head>
<title>CI Status</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:100,400,700|Open+Sans' rel='stylesheet' type='text/css'>
<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<script src="js/angular.min.js"></script>
<style>
    body {
        margin: 20px;
        font-family: "Open Sans";
    }
    h1 {
        font-family: "Playfair Display";
        letter-spacing: 0px;
        font-size: 54px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        margin-top: 5px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        color: #fff;
        background: #000;
    }
    section {
        
    }
    label {
        width: 200px;
    }
    .status {
        width: 500px;
        border-bottom: 1px dotted #888;        
        font-size: 18px;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .label {
        font-weight: normal !important;
    }
</style>
<body  ng-controller="cicontroller">
<h1><span>CI</span> Status Display</h1>
<section class="well">
    <h3>Build parameters</h3>
    <label>ID:</label><input type="text" id="id" class="form-control" ng-model="id" /><br />
    <label>User:</label><input type="text" id="user" class="form-control" ng-model="user" /><br />
    <label>Password:</label><input type="text" id="pw" class="form-control" ng-model="password" /><br />
    <label>URL:</label><input type="text" id="url" class="form-control" ng-model="url" />
</section>
<section>
<span class="label label-info">{{timeToRefresh}}</span>
    <div class="status" ng-repeat="(key, job) in jobs">{{job.name}} <span class="pull-right label {{job.alertClass}}">{{job.alertText}}</span></div>
    
    Lamp 1: <select ng-model="lamp1" class="form-control"><option value="">Please select<option><option ng-repeat="(key, job) in jobs" value="{{key}}">{{ job.name }}</option></select>
    Lamp 2: <select ng-model="lamp2" class="form-control"><option value="">Please select<option><option ng-repeat="(key, job) in jobs" value="{{key}}">{{ job.name }}</option></select>
    Lamp 3: <select ng-model="lamp3" class="form-control"><option value="">Please select<option><option ng-repeat="(key, job) in jobs" value="{{key}}">{{ job.name }}</option></select>
</section>
<script>
    function cicontroller($scope, $http) {
        $scope.jobs = {}
        $scope.id = "build.example.com";
        $scope.user = "user";
        $scope.password = "password";
        $scope.url = "http://build.example.com/api/json";
        $scope.refreshInterval = 10;
        $scope.timeToRefresh = 0;
        $scope.timeoutHandle = null;
        $scope.lamp1 = null;
        $scope.lamp2 = null;
        $scope.lamp3 = null;

        $scope.update = function() {
            if ($scope.id == "" || $scope.user == "" || $scope.password == "" || $scope.url == "") return;
            if (typeof $scope.id == "undefined" || typeof $scope.user == "undefined" ||  typeof $scope.password == "undefined" || typeof $scope.url == "undefined") return;
            var url = "https://manjusimpragmacom-prod.apigee.net/v1/dynmonito?id="+$scope.id+"&u="+$scope.user+"&p="+$scope.password+"&ciurl="+$scope.url
            $http.get(url).success(function(data, status) {
                for (var i = 0; i < data.jobs.length; i++) {
                    $scope.jobs[data.jobs[i].url] = data.jobs[i];
                    switch (data.jobs[i].color) {
                        case 'blue_anime': case 'yellow_anime':
                            $scope.jobs[data.jobs[i].url].alertClass="label-warning";
                            $scope.jobs[data.jobs[i].url].alertText="Build in progress";
                            break;
                        case 'blue':
                            $scope.jobs[data.jobs[i].url].alertClass="label-success";
                            $scope.jobs[data.jobs[i].url].alertText="Success";
                            break;
                            
                        case 'red':
                            $scope.jobs[data.jobs[i].url].alertClass="label-danger";
                            $scope.jobs[data.jobs[i].url].alertText="Build failed!";
                            break;                    
                    }
                }
                $scope.updateLamps();
                $scope.$apply();
            }).error(function() {
                $scope.error="Error retrieving data. Will retry automatically."
            });
        
        }
        
        $scope.countdown = function() {
            if ($scope.timeToRefresh == 0) {
                $scope.update();
                $scope.timeToRefresh = $scope.refreshInterval;
            }
            $scope.timeToRefresh -= 1;
            $scope.$apply();
        }
        
        $scope.updateLamps = function() {
            
            var status = null;
            var data = {on: true, bri: 177, hue: 0, sat: 177, alert: "none"};
            
            var changeLight = function(lamp, color) {
                var url = "http://192.168.1.23/api/newdeveloper/lights/"+lamp+"/state";
                switch (color) {
                    case 'blue':
                        console.log("Blue");
                        data.hue = 25000;
                        data.sat = 199;
                        data/bri = 199;
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'red':
                        console.log("Red");
                        data.hue = 0;
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'blue_anime':
                        console.log("Blink")
                        data.hue = 46920;
                        data.alert = "lselect";
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'yellow_anime':
                        console.log("Blink")
                        data.hue = 12750;
                        data.alert = "lselect";
                        $http.put(url, JSON.stringify(data));
                        break;             
                }            
            }
            
            if ($scope.lamp1 != null) {
                changeLight(1, $scope.jobs[$scope.lamp1].color);                                
            }
            if ($scope.lamp2 != null) {
                changeLight(2, $scope.jobs[$scope.lamp1].color);  
            } 
            if ($scope.lamp3 != null) {
                changeLight(3, $scope.jobs[$scope.lamp1].color);  
            }
        }
        
        $scope.timeoutHandle = setInterval($scope.countdown, 1000);
        
        $scope.$watch('lamp1+lamp2+lamp3', $scope.updateLamps);
    };
    var jobs = {};
    var getData = function(id, user, password, url) {
        
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var data = JSON.parse(xmlhttp.responseText);
                
                for (var i = 0; i < data.jobs.length; i++) {
                    jobs[data.jobs[i].url] = data.jobs[i];
                }
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();    
    }

</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
