<!doctype html>
<html ng-app>
<head>
<title>CI Status</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:100,400,700|Open+Sans' rel='stylesheet' type='text/css'>
<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<script src="js/angular.min.js"></script>
<style>
    body {
        font-family: "Open Sans", "Liberation Sans", "Lucida Sans Unicode",  sans-serif;
        background: #FCFBF4;
    }
    header {
        background: #F3F1E5;
        box-shadow: 0 0 2px #999;
        z-index: 4;
    }
    header h1 {
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        margin-top: 0px;margin-bottom: 0px;
        padding: 7px 0 7px 0;
    }
    header h1 span {
        color: #C24F3A;
    }
    header h1 input {
        font-size: 20px;
        font-weight: normal;
    }
    .heading-input {        
        cursor: pointer;
        color: #c24f3a;
        width: 400px;
        display: inline-block;
    }
    #dropper {
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0 1px 2px #999;
        padding: 20px;
        z-index: 3;
        position: absolute;
        background: #F3F1E5;
        margin-top: -20px;
    }
    .slideDown {
        transform: translate3d(0,60px,0);
        transition-duration:0.6s;
        animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-transform: translate3d(0,60px,0);
        -webkit-transition-duration:0.6s;
        -webkit-animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
    }
    .slideUp {
        transform: translate3d(0,-650px,0);
        transition-duration:0.57s;
        animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-transform: translate3d(0,-650px,0);
        -webkit-transition-duration:0.57s;
        -webkit-animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
    }
    h2 {
        color: #CD9E68;
        font-family: "Droid serif", serif;
    }
    h2 span {
        color: black;
    }
    section {
        
    }
    label {
        width: 75px;
    }
    select {
        width: 100% !important;
    }
    hr {
        border-bottom: 1px solid #ccc;
    }
    .status {
        width: 500px;
        border-bottom: 1px dotted #888;        
        font-size: 18px;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .offset-top>div {
        margin-top: 60px;
    }
    .label {
        font-weight: normal !important;
    }
</style>
<body  ng-controller="cicontroller">
<div>
<header style="position: absolute; width: 100%;">
<h1 class="container"><span>CI</span> Status Alerter <div class="heading-input" ng-click="settingsToggle()">{{id}}&nbsp;<i class="glyphicon glyphicon-cog" style="vertical-align: bottom"></i></div></h1>
</header>
    <div id="dropper" class="col-sm-10 col-sm-offset-1 slideUp">    
        <label>ID:</label><input type="text" id="id" class="form-control" ng-model="newId" /><br />
        <label>User:</label><input type="text" id="user" class="form-control" ng-model="newUser" /><br />
        <label>Password:</label><input type="password" id="pw" class="form-control" ng-model="newPassword" /><br />
        <label>URL:</label><input type="text" id="url" class="form-control" ng-model="newUrl" />
        <hr />
        <div class="form-inline row">
        <div class="col-sm-4"><label>Lamp 1:</label><select ng-model="newLamp1" class="form-control"><option value="">Please select</option><option ng-repeat="(key, job) in jobs" value="{{key}}">{{ job.name }}</option></select></div>
        <div class="col-sm-4"><label>Lamp 2:</label><select ng-model="newLamp2" class="form-control"><option value="">Please select</option><option ng-repeat="(key, job) in jobs" value="{{key}}">{{ job.name }}</option></select></div>
        <div class="col-sm-4"><label>Lamp 3:</label><select ng-model="newLamp3" class="form-control"><option value="">Please select</option><option ng-repeat="(key, job) in jobs" value="{{key}}">{{ job.name }}</option></select></div>
        </div>
        <hr />
        <button class="btn btn-success btn-block" ng-click="saveChanges()">Save changes and update</button>
    </div>
</div>
<section class="offset-top">
    <div class="col-sm-12">
    <span class="label label-info">Update in {{timeToRefresh}} seconds</span>
    <div class="status" ng-repeat="(key, job) in jobs">{{job.name}} <span class="pull-right label {{job.alertClass}}">{{job.alertText}}</span></div>
</section>
<script>
    function cicontroller($scope, $http) {
        $scope.jobs = {}
        //$scope.newId = "build.example.com";
        //$scope.newUser = "user";
        //$scope.newPassword = "password";
        //$scope.newUrl = "http://build.example.com/api/json";
        $scope.refreshInterval = 10; // seconds
        $scope.timeToRefresh = 0;
        $scope.timeoutHandle = null;
        $scope.lamp1 = null;
        $scope.lamp2 = null;
        $scope.lamp3 = null;

        $scope.update = function() {
            if ($scope.id == "" || $scope.user == "" || $scope.password == "" || $scope.url == "") return;
            if (typeof $scope.id == "undefined" || typeof $scope.user == "undefined" ||  typeof $scope.password == "undefined" || typeof $scope.url == "undefined") return;
            // TODO: Use cinner.simpragma.com instead of apigee URL
            var url = "https://manjusimpragmacom-prod.apigee.net/v1/dynmonito?id="+$scope.id+"&u="+$scope.user+"&p="+$scope.password+"&ciurl="+$scope.url
            
            $http({method: 'GET', url: url, headers: {'Host': 'manjusimpragmacom-prod.apigee.net'}}).success(function(data, status) {
            console.log(data);
                for (var i = 0; i < data.jobs.length; i++) {
                    $scope.jobs[data.jobs[i].url] = data.jobs[i];
                    switch (data.jobs[i].color) {
                        case 'blue_anime': case 'yellow_anime':
                            $scope.jobs[data.jobs[i].url].alertClass="label-info";
                            $scope.jobs[data.jobs[i].url].alertText="Build in progress";
                            break;

                        case 'blue':
                            $scope.jobs[data.jobs[i].url].alertClass="label-success";
                            $scope.jobs[data.jobs[i].url].alertText="Success";
                            break;
                            
                        case 'red':
                            $scope.jobs[data.jobs[i].url].alertClass="label-danger";
                            $scope.jobs[data.jobs[i].url].alertText="Build failed!";
                            break;   
                            
                        case 'yellow':
                            $scope.jobs[data.jobs[i].url].alertClass="label-warning";
                            $scope.jobs[data.jobs[i].url].alertText="Warnings in build";
                            break;
                    }
                }
                $scope.updateLamps();
                $scope.$apply();
            }).error(function() {
                $scope.error="Error retrieving data. Will retry automatically."
            });
        
        }
        
        $scope.countdown = function() {
            if ($scope.timeToRefresh == 0) {
                $scope.update();
                $scope.timeToRefresh = $scope.refreshInterval;
            }
            $scope.timeToRefresh -= 1;
            $scope.$apply();
        }
        
        $scope.updateLamps = function() {
            
            var status = null;
            var data = {on: true, bri: 255, hue: 0, sat: 255, alert: "none"};
            
            var changeLight = function(lamp, color) {
                var url = "http://192.168.1.23/api/newdeveloper/lights/"+lamp+"/state";
                switch (color) {
                    case 'blue':
                        console.log("Blue");
                        data.hue = 25500;
                        data.alert = "none";
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'red':
                        console.log("Red");
                        data.hue = 0;
                        data.alert = "none";
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'yellow':
                        data.hue = 12750;
                        data.alert = "none";
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'blue_anime':
                        console.log("Blink")
                        data.hue = 25500;
                        data.alert = "lselect";
                        $http.put(url, JSON.stringify(data));
                        break;
                        
                    case 'yellow_anime':
                        console.log("Blink")
                        data.hue = 12750;
                        data.alert = "lselect";
                        $http.put(url, JSON.stringify(data));
                        break;             
                }            
            }
            
            if ($scope.lamp1 != null) {
                changeLight(1, $scope.jobs[$scope.lamp1].color);                                
            }
            if ($scope.lamp2 != null) {
                changeLight(2, $scope.jobs[$scope.lamp2].color);  
            } 
            if ($scope.lamp3 != null) {
                changeLight(3, $scope.jobs[$scope.lamp3].color);  
            }
        }
        
        $scope.saveChanges = function() {
            
            $scope.id = $scope.newId;
            $scope.user = $scope.newUser;
            $scope.password = $scope.newPassword;
            $scope.url = $scope.newUrl;
            $scope.update();
            $scope.lamp1 = $scope.newLamp1;
            $scope.lamp2 = $scope.newLamp2;
            $scope.lamp3 = $scope.newLamp3;
            $scope.settingsUp();
        }
        
        $scope.settingsDown = function() {
            $('#dropper').removeClass('slideUp').addClass('slideDown');
        }
        $scope.settingsUp = function() {
            $('#dropper').removeClass('slideDown').addClass('slideUp');
        }
        $scope.settingsToggle = function() {
            if ($('#dropper').hasClass('slideUp')) {
                $scope.settingsDown();
            } else {
                $scope.settingsUp();
            }
        }
        
        $scope.timeoutHandle = setInterval($scope.countdown, 1000);
        $scope.saveChanges();
        $scope.$watch('lamp1+lamp2+lamp3', $scope.updateLamps);
    };

</script>
<script src="js/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
